<a href="https://colab.research.google.com/github/AthiraBinod-19/MLP_GA/blob/main/GA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()                # choose the CSV file in the dialog
filename = list(uploaded.keys())[0]
print("Uploaded:", filename)

Saving Week1_GA_dataset.csv to Week1_GA_dataset.csv
Uploaded: Week1_GA_dataset.csv

In [ ]:
import pandas as pd
import numpy as np

# Step 1: Load CSV file
df = pd.read_csv("Week1_GA_dataset.csv")

# Show shape (should be (10000, 12))
print("Shape of dataset:", df.shape)

# Step 2: Count "?" values
question_marks_count = (df == "?").sum().sum()
print("Total '?' values in the dataset:", question_marks_count)

# Column-wise count of "?"
print("\nColumn-wise '?' counts:\n", (df == "?").sum())

# Step 3: Replace "?" with NaN
df = df.replace("?", np.nan)

# Confirm replacement worked
print("\nAny '?' left?:", (df == "?").any().any())

# Show how many NaN values are now in dataset
print("Total NaN values:", df.isna().sum().sum())
print("\nColumn-wise NaN counts:\n", df.isna().sum())

Shape of dataset: (10000, 12)
Total '?' values in the dataset: 1823

Column-wise '?' counts:
 Date                    0
Year                    0
Locality                0
Estimated Value         0
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area             0
property_tax_rate       0
Face                    0
dtype: int64

Any '?' left?: False
Total NaN values: 5548

Column-wise NaN counts:
 Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [ ]:
import pandas as pd

# Load the dataset (already done earlier, but adding for completeness)
df = pd.read_csv("Week1_GA_dataset.csv", na_values=['?'])

# Show the shape
print("Shape of dataset:", df.shape)

# Optional: print rows and columns separately
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Shape of dataset: (10000, 12)
Number of rows: 10000
Number of columns: 12

In [ ]:
# Value at 692nd row and 0th column
value = df.iloc[692, 0]
print("Value at row 692 and column 0:", value)

Value at row 692 and column 0: 2009-11-16

In [ ]:
# Value at 546th row and 7th column
value = df.iloc[546, 7]
print("Value at row 546 and column 7:", value)

# (Optional) also show the column name for clarity
col_name = df.columns[7]
print(f"Column name: {col_name}, Value: {value}")

Value at row 546 and column 7: 3
Column name: num_rooms, Value: 3

In [ ]:
# Unique values in 'Locality'
unique_localities = df['Locality'].unique()
print("Unique Localities:\n", unique_localities)

# Count of unique values
print("\nNumber of unique Localities:", df['Locality'].nunique())

Unique Localities:
 ['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']

Number of unique Localities: 7

In [ ]:
# Check which columns have missing values
missing_cols = df.isna().sum()

# Show only columns with missing values
missing_cols = missing_cols[missing_cols > 0]
print("Columns with missing values:\n", missing_cols)

Columns with missing values:
 Locality           1253
Estimated Value    1243
Property           1823
carpet_area        1229
dtype: int64

In [ ]:
# Column with most missing values
missing_counts = df.isna().sum()
max_missing_col = missing_counts.idxmax()
max_missing_val = missing_counts.max()

print(f"Feature with most missing values: {max_missing_col} ({max_missing_val} missing)")

Feature with most missing values: Property (1823 missing)

In [ ]:
# Drop rows with more than 2 NaN values
df_dropped = df[df.isna().sum(axis=1) <= 2]

# Shape after dropping
print("Remaining samples after dropping:", df_dropped.shape[0])

Remaining samples after dropping: 9917

In [ ]:
# Drop all rows with any NaN values
df_dropped = df.dropna()

# Show how many rows remain
print("Number of rows remaining after dropping rows with NaN:", df_dropped.shape[0])

# (Optional) also show how many rows were dropped
print("Number of rows dropped:", df.shape[0] - df_dropped.shape[0])

Number of rows remaining after dropping rows with NaN: 5449
Number of rows dropped: 4551

In [ ]:
even_rows_df = df.iloc[::2]   # every 2nd row starting at index 0

In [ ]:
value = even_rows_df.iloc[0, 3]
print("Value at row 0, column 3 (in even-rows dataframe):", value)

Value at row 0, column 3 (in even-rows dataframe): 111440.0

In [ ]:
even_rows_df = df.iloc[::2]   # takes rows 0, 2, 4, 6, ... from df
value = even_rows_df.iloc[332, 3]
print("Value at row 332, column 3 (in even-rows dataframe):", value)

# (Optional) also show the column name for clarity
col_name = even_rows_df.columns[3]
print(f"Column name: {col_name}, Value: {value}")

Value at row 332, column 3 (in even-rows dataframe): 256200.0
Column name: Estimated Value, Value: 256200.0

In [ ]:
odd_rows_df = df.iloc[1::2]   # takes rows 1, 3, 5, 7, ... from df
value = odd_rows_df.iloc[332, 3]
print("Value at row 332, column 3 (in odd-rows dataframe):", value)

# (Optional) also show the column name
col_name = odd_rows_df.columns[3]
print(f"Column name: {col_name}, Value: {value}")

Value at row 332, column 3 (in odd-rows dataframe): 352940.0
Column name: Estimated Value, Value: 352940.0

In [ ]:
odd_cols_df = df.iloc[:, 1::2]   # keeps only columns 1, 3, 5, 7, ...
value = odd_cols_df.iloc[100, 5]
print("Value at row 100, column 5 (in odd-columns dataframe):", value)

# (Optional) also print column name for clarity
col_name = odd_cols_df.columns[5]
print(f"Column name: {col_name}, Value: {value}")

Value at row 100, column 5 (in odd-columns dataframe): West
Column name: Face, Value: West

In [ ]:
even_rows_cols_df = df.iloc[::2, ::2]   # even rows (0,2,4,...) and even cols (0,2,4,...)
value = even_rows_cols_df.iloc[255, 3]
print("Value at row 255, column 3 (in even-rows & even-cols dataframe):", value)

# (Optional) also show the column name for clarity
col_name = even_rows_cols_df.columns[3]
print(f"Column name: {col_name}, Value: {value}")

Value at row 255, column 3 (in even-rows & even-cols dataframe): Detached House
Column name: Residential, Value: Detached House

In [ ]:
# Unique years in the dataset
unique_years = df['Year'].dropna().unique()  # remove NaN if any
unique_years_sorted = sorted(unique_years, reverse=True)  # sort descending (most recent first)
print("Unique years sorted (most recent first):", unique_years_sorted)

Unique years sorted (most recent first): [np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018), np.int64(2017), np.int64(2016), np.int64(2015), np.int64(2014), np.int64(2013), np.int64(2012), np.int64(2011), np.int64(2010), np.int64(2009)]

In [ ]:
most_recent_6_years = unique_years_sorted[:6]
print("Six most recent years:", most_recent_6_years)
rows_recent_6_years = df[df['Year'].isin(most_recent_6_years)].shape[0]
print("Number of rows belonging to the six most recent years:", rows_recent_6_years)

Six most recent years: [np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018), np.int64(2017)]
Number of rows belonging to the six most recent years: 4749

In [ ]:
# Filter rows where num_rooms = 3 and num_bathrooms = 3
filtered_rows = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)]

# Count the number of such rows
num_rows = filtered_rows.shape[0]
print("Number of rows with num_rooms=3 and num_bathrooms=3:", num_rows)

Number of rows with num_rooms=3 and num_bathrooms=3: 2730

In [ ]:
# Filter rows where num_rooms = 3 OR num_bathrooms = 3
filtered_rows = df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)]

# Count the number of such rows
num_rows = filtered_rows.shape[0]
print("Number of rows with num_rooms=3 or num_bathrooms=3:", num_rows)

Number of rows with num_rooms=3 or num_bathrooms=3: 8591

In [ ]:
# Multiple conditions:
# 1. Year == 2022
# 2. Locality == 'Greenwich'
# 3. num_rooms == 3
# 4. Face == 'North' or 'East'

filtered_rows = df[
    (df['Year'] == 2022) &
    (df['Locality'] == 'Greenwich') &
    (df['num_rooms'] == 3) &
    (df['Face'].isin(['North', 'East']))
]

# Count the number of rows satisfying all conditions
num_houses = filtered_rows.shape[0]
print("Number of houses satisfying the conditions:", num_houses)

Number of houses satisfying the conditions: 42

In [ ]:
# Convert Date column to datetime (if not already)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
# Select rows where the month is August
august_rows = df[df['Date'].dt.month == 8]

# Count the number of rows
num_august = august_rows.shape[0]
print("Number of rows corresponding to August:", num_august)

Number of rows corresponding to August: 1050

In [ ]:
# Group by Locality and calculate mean Sale Price
avg_sale_price = df.groupby('Locality')['Sale Price'].mean()

# Find the locality with the highest average Sale Price
highest_avg_locality = avg_sale_price.idxmax()
highest_avg_value = avg_sale_price.max()

print("Locality with highest average Sale Price:", highest_avg_locality)
print("Highest average Sale Price:", highest_avg_value)

Locality with highest average Sale Price: Greenwich
Highest average Sale Price: 2270223.539495238